/* .number-section{
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
   }

   .about-hash-number-section{
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;
   } */


   .hashinclude-stats {
    display: flex;
    background-color:blueviolet;
    justify-content: space-evenly;
    text-align: center;
   }